body {
  height: 1500px;
  margin: 0px;
}

nav {                         /* Padre */
  background: #777777;
  height: 25%;
  display: flex;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 1.4em;
}

.hiper:hover {
  color: #555555;
}

.div-imagen-del-nav {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-nav  {
    /* position: absolute;
    left:  50px;
    top: 20px;
    width: 100px; */
    /* display: inline-block; */
    height: 40%;
    width: 30%;
}

.navegar  {
    /* position: absolute;
    right:  10px;
    top: 50px; */
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.inicio {
    display: inline-block;
    /* background: ; */
    margin: 0 50px;
    
}

.contacto {
    display: inline-block;
    margin: 0 50px;
}

.somos {
    display: inline-block;
    margin: 0;
}

.cuerpo {                               /* Padre */
  height: 50%;
}

.columna-1 {
  display: inline-block;
  text-align: center;
  width: 25%;
  height: 100%;
  /* vertical-align: middle; */
  background: #aaaaaa;
}

.columna-2 {
  display: inline-block;
  text-align: center;
  /* vertical-align: middle; */
  height: 100%;
  width: 50%;
  background: #888aaa;
}

.texto {
    vertical-align: middle;
}

.columna-3 {
  display: inline-block;
  text-align: center;
  /* vertical-align: middle; */
  height: 100%;
  width: 24%;
}

 footer {                                        /* Padre */
  text-align: center;
  vertical-align: middle;
  height: 25%;
}

.logo-footer img {
  width: 30%;
  height: 1%;
}

.copyright {
  font-family: 'Courier New', Courier, monospace;
}
